@page
@model Emprega.Pages.Cidade.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Cidade</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cidade.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade.Uf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cidade.Uf)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cidade.Id">Editar</a> |
    <a asp-page="./Index">Voltar para a lista</a>
</div>
