@page
@model Emprega.Pages.Idioma_candidato.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Início</h1>

<p>
    <a asp-page="Create">Criar novo Idioma</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdiomaCandidato[0].Nivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdiomaCandidato[0].IdIdiomaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.IdiomaCandidato) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdIdiomaNavigation.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
