@page
@model Emprega.Pages.Inscricao_Status.IndexModel

@{
    ViewData["Title"] = "Status de Inscrição";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Cadastar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InscricaoStatus[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InscricaoStatus[0].Cor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.InscricaoStatus) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cor)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Ver Lista de Staus de Inscrição</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
