@model Emprega.Models.Empresa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RazaoSocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeFantasia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeFantasia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Complemento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OcultarDados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OcultarDados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Site)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Site)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAbertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAbertura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAreaAtuacaoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAreaAtuacaoNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCidadeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCidadeNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
