@page
@model Emprega.Pages.Vaga.DeleteModel

@{
    ViewData["Title"] = "Deletar";
}

<h1>Deletar</h1>

<h3>Você tem certeza que deseja deletar?</h3>
<div>
    <h4>Vaga</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vaga.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vaga.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vaga.Salario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vaga.Salario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vaga.Pcd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vaga.Pcd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vaga.DataPublicacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vaga.DataPublicacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vaga.Requisitos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vaga.Requisitos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vaga.PrincipaisAtividades)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vaga.PrincipaisAtividades)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vaga.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vaga.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vaga.Quantidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vaga.Quantidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vaga.QuantidadeDisponivel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vaga.QuantidadeDisponivel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vaga.Situacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vaga.Situacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vaga.TempoContrato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vaga.TempoContrato)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vaga.IdAreaAtuacaoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vaga.IdAreaAtuacaoNavigation.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vaga.IdEmpresaNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vaga.IdEmpresaNavigation.NomeFantasia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vaga.IdTipoContratoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vaga.IdTipoContratoNavigation.Nome)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Vaga.Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar para lista</a>
    </form>
</div>
